{% extends 'default/index.html.twig' %}
{% block header %}
{% endblock %}
{% block content %}

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Foods
        <small>List :</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('Accueil') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">Foods</li>
    </ol>

    <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/oil.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Virgin Olive Oil</a>
                </h4>
                <p class="card-text">First Cold Press</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/oil2.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Extra Virgin Olive Oil</a>
                </h4>
                <p class="card-text">First Cold Press</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/tomate.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Tomatoes</a>
                </h4>
                <p class="card-text">Excelent Tomatoes</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/1.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Apricot</a>
                </h4>
                <p class="card-text">Apricot</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/2.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Peache</a>
                </h4>
                <p class="card-text">Peache</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/3.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Beans</a>
                </h4>
                <p class="card-text">Beans</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/5.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Cucumber</a>
                </h4>
                <p class="card-text">Cucumber</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/6.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Orange</a>
                </h4>
                <p class="card-text">Orange</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/7.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Orange</a>
                </h4>
                <p class="card-text">orange</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{ asset('bundles/Asset/images/foods/8.jpg')}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">Fennel</a>
                </h4>
                <p class="card-text">Fennel</p>
            </div>
        </div>
    </div>

{% endblock %}